/**
 * @file
 * overrides for seven (admin) theme
 */
/* override media.css default checkbox positioning */
/* line 8, sass/metroeast_admin_css-media.scss */
.media-list-thumbnails .form-type-checkbox {
  bottom: 129px;
  left: 2px;
  /*
    margin: 0;
    padding: 0;
    position: relative;
    */
}

/*
.media-item .label-wrapper label {
  font-size: 10px;
  line-height: 12px;
  padding: 5px 10px;
}
*/
